.loginPopup {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 99;

  min-height: 50px;
  max-height: 100vh;

  overflow: hidden;

  box-shadow: 0 -10px 20px #0000001a;

  border-top: var(--whiteItemBorder);
  background-color: #ffffff;
}

.loginPopup .content {
  max-height: 100%;
  overflow-y: scroll;
  padding-top: 0;

  -ms-overflow-style: none;
  scrollbar-width: none;
}
.loginPopup .content::-webkit-scrollbar {
  display: none;
}

.loginPopup .primaryLogin {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  padding: 2rem 1rem;
  gap: 1rem;
}

.loginPopup .primaryLogin .code {
  overflow: hidden;
  padding: 0 2rem;
}

.loginPopup .primaryLogin .code .codeBackground {
  background-color: #f1f1f1;
  text-align: center;
  padding: 2rem;
}
.loginPopup .primaryLogin .code canvas {
  width: 100%;
}

.loginPopup .primaryLogin .instructions h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #181818;
}
.loginPopup .primaryLogin .instructions ul {
  list-style: none;
}
.loginPopup .primaryLogin .instructions li {
  font-size: 1rem;
  font-weight: 400;
  color: #333333;
  margin-top: 0.5rem;
}
