.checkoutPopup {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 99;

  min-height: 50px;
  max-height: 100vh;

  overflow: hidden;

  box-shadow: 0 -10px 20px #0000001a;

  border-top: var(--whiteItemBorder);
  background-color: #ffffff;
}

.checkoutPopup .content {
  max-height: 100%;
  overflow-y: scroll;
  padding-top: 0;

  -ms-overflow-style: none;
  scrollbar-width: none;
}
.checkoutPopup .content::-webkit-scrollbar {
  display: none;
}

.checkoutPopup .section {
  height: max-content;
  transition: 1s cubic-bezier(0.87, 0, 0.13, 1) !important;

  overflow-x: hidden;
  overflow-y: auto;
}
.checkoutPopup .section.hidden {
  padding: 0 !important;
  margin: 0 !important;
  min-height: 0 !important;
}

.checkoutPopup .brief .head {
  padding: 1rem 1rem 0 1rem;
  justify-content: space-between;
}
.checkoutPopup .brief .head h1 {
  font-size: 2rem;
  line-height: 1;
  font-weight: 700;
  color: var(--dark-black-color);
}
.checkoutPopup .brief .head .itemsContainer {
  position: relative;
  padding: 0.5rem 0.75rem 0 0;
  height: min-content;
}
.checkoutPopup .brief .head svg {
  height: 24px;
  aspect-ratio: 1;
  stroke-width: 10px;
}
.checkoutPopup .brief .head .itemsContainer p {
  position: absolute;
  top: 0;
  right: 0;
  height: 1rem;
  width: 1.25rem;
  background-color: red;
  border-radius: 5rem;
  font-size: 0.7rem;
  line-height: 1rem;
  color: white;
  text-align: center;
}

.checkoutPopup .brief .head .account {
  gap: 0.5rem;
  padding: 6px 1rem 6px 0.5rem;
  background-color: var(--background-color);
  /* border: var(--whiteItemBorder); */
  border: 1px solid transparent;
  border-radius: 0.25rem;

  color: var(--dark-black-color);
}
.checkoutPopup .brief .head .account.active {
  color: #fff;
  background-color: var(--dark-black-color);
  border: 1px solid var(--dark-black-color);
}
.checkoutPopup .brief .head .account.active img {
  filter: invert(1);
}
.checkoutPopup .brief .head .account img {
  height: 30px;
  aspect-ratio: 1;
}
.checkoutPopup .brief .head .account h2 {
  font-size: 0.9rem;
  line-height: 1;
  font-weight: 500;
}
.checkoutPopup .brief .head .account p {
  font-size: 0.8rem;
  line-height: 1;
  font-weight: 300;
  margin-top: 0.25rem;
}

.checkoutPopup .brief .head .total {
  gap: 1rem;
}

.checkoutPopup .brief .action {
  width: 100%;
  padding: 1rem 1rem 3rem 1rem;

  justify-content: center;
}
.checkoutPopup .brief .action .container {
  gap: 1rem;
}
.checkoutPopup .brief .action button {
  padding: 0.7rem 0;

  border: 2px solid var(--accent-color);
  background-color: white;
  border-radius: 4px;

  font-size: 1rem;
  transition: 0.2s;
}
.checkoutPopup .brief .action .cancel {
  flex: 1;

  color: var(--accent-color);
  font-weight: 500;
}
.checkoutPopup .brief .action .confirm {
  flex: 2;

  background-color: var(--accent-color);

  color: white;
  font-weight: 600;
}
.checkoutPopup .brief .action .confirm.locked {
  border: 2px solid #323843;
  background-color: #323843;

  color: #8e95a4;
}

.checkoutPopup .summary .head {
  padding: 1rem;
}
.checkoutPopup .summary .head h1 {
  font-size: 2rem;
  font-weight: 700;
  color: #2b2b2b;
}
.checkoutPopup .summary .head p {
  font-size: 0.9rem;
  font-weight: 400;
  color: #333333;
}
.checkoutPopup .summary {
  padding-bottom: 180px;
}
.checkoutPopup .summary .items {
  margin-top: 1rem;
  padding: 0 1rem;
}
.checkoutPopup .summary .item {
  display: grid;
  grid-template-columns: 80px 1fr 120px;
  gap: 1rem;
  padding: 0.5rem 0;
  margin: 0.5rem 0;
  border-radius: 0.5rem;
}
.checkoutPopup .summary .item .preview {
  height: 80px;
}
.checkoutPopup .summary .item .preview img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.checkoutPopup .summary .item .info {
  display: flex;
  flex-direction: column;
}
.checkoutPopup .summary .item .info h2 {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 600;
  color: var(--dark-black-color);
}
.checkoutPopup .summary .item .info .icons {
  font-size: 1rem;
}
.checkoutPopup .summary .item .info .price {
  font-size: 1rem;
  font-weight: 400;
  color: var(--dark-black-color);
}
.checkoutPopup .summary .item .info .size {
  margin-top: auto;
  font-size: 0.9rem;
  font-weight: 300;
  color: #828282;
}
.checkoutPopup .summary .item .info .size span {
  position: relative;
  margin-right: 10px;
  padding-right: 10px;
}
.checkoutPopup .summary .item .info .size span::after {
  content: "";
  position: absolute;
  top: calc(50% - 2px);
  right: -2px;
  width: 4px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #a6a6a6;
}

.checkoutPopup .summary .item .quantity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}
.checkoutPopup .summary .item .quantity .adjust {
  gap: 0.5rem;
}
.checkoutPopup .summary .item .quantity .adjust h2 {
  flex: 2;
  padding: 4px 0;
  background-color: var(--background-color);
  border-radius: 0.25rem;
  border: var(--whiteItemBorder);
  font-size: 1rem;
  font-weight: 500;
  color: var(--dark-black-color);
  text-align: center;
}
.checkoutPopup .summary .item .quantity .adjust button {
  border: 1px solid var(--accent-color);
  padding: 4px 8px;
  border-radius: 0.25rem;
  background-color: white;
  font-size: 1rem;
  font-weight: 500;
  color: var(--accent-color);
}
.checkoutPopup .summary .item .quantity .delete {
  display: none;
  background-color: #ffc0c0;
  border-radius: 0.25rem;
  border: none;
  font-size: 1rem;
  line-height: 0.5;
  padding: 0.5rem 0;
}

.checkoutPopup .summary .items .labels {
  font-size: 0.9rem;
  font-weight: 400;
  color: #707070;
  padding: 0.5rem 0;
  margin: 0;
  border-radius: 0;
  border-bottom: var(--whiteItemBorder);
}

.lastAction {
  transform: translateY(100%);
}
.lastAction .total {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 1rem;
}
.lastAction .filler {
  flex: 1;
}
.lastAction .texts {
  display: flex;
  justify-content: space-between;
  flex: 2;
}
.lastAction .total h1 {
  font-size: 2rem;
  line-height: 1;
  font-weight: 700;
  color: #2b2b2b;
}
.lastAction .total p {
  font-size: 0.9rem;
  font-weight: 400;
  color: #707070;
}
