.center {
  width: 100%;

  background-color: #fff;
  border: var(--whiteItemBorder);
  border-radius: 0.25rem;

  overflow: hidden;
}

.container {
  display: grid;
  grid-template-columns: 100% 100%;
  transition: 0.3s ease-in-out;
}

.screen {
  padding: 2rem;
}

.screen h1 {
  font-size: 2rem;
  font-weight: 600;
  color: #181818;
}
.screen .instructions {
  font-size: 0.9rem;
  font-weight: 400;
  color: #535353;

  margin-bottom: 2rem;
}

#loginButton {
  margin-top: 2rem;
}

.authorizeScreen {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.authorizeScreen .switchAccount {
  background-color: #f1f1f1;
  padding: 0.3rem 0.8rem;
  border-radius: 0.25rem;
  border: none;
  margin-top: 1rem;

  font-size: 0.9rem;
  font-weight: 400;
  color: #181818;
}

.authorizeScreen .currentUser {
  gap: 1rem;
}
.authorizeScreen img {
  width: 40px;
  aspect-ratio: 1;
}
.authorizeScreen p {
  font-size: 1.5rem;
  font-weight: 500;
  color: #181818;
}

.authorizeScreen .authorizeError,
.authorizeScreen .authorizeSuccess {
  font-size: 0.9rem;
  font-weight: 500;
  margin-top: 1rem;
}
.authorizeScreen .authorizeError {
  color: #ff0000;
}
.authorizeScreen .authorizeSuccess {
  color: #00ff00;
}

.primaryButton {
  width: 100%;
  padding: 0.7rem 2rem;

  border: 2px solid var(--accent-color);
  background-color: var(--accent-color);
  border-radius: 4px;

  transition: 0.2s;

  color: white;
  font-weight: 600;
  font-size: 1rem;
}

@media only screen and (max-width: 432px) {
  .center {
    border: none;
  }
}
