.app {
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.top {
  padding: 2rem 1rem;
  justify-content: center;
  width: 100%;
}

.input {
  width: 100%;
}
.input label {
  font-size: 1rem;
}
.input input {
  width: 100%;
  padding: 0.4rem;
  font-size: 1rem;
}

.bottom {
  height: min-content;
  padding: 2rem 1rem;
  width: 100%;
}

.primaryButton {
  width: 100%;
  padding: 0.7rem 2rem;

  border: 2px solid var(--accent-color);
  background-color: var(--accent-color);
  border-radius: 4px;

  transition: 0.2s;

  color: white;
  font-weight: 600;
  font-size: 1rem;
}
